<div class="pages">
  <div class="mod-ext">
    <div class="mod-ext">
      <h1 class="txt13 scp_color3 txt-trans-up">FAQs</h1>
      <div class="mod faq-txt">
        <p>
          <strong>Q:</strong> Only one deal per day?<br />
          <strong>A:</strong> That’s right. Just one deal so be sure to sign up for the email or stop by the site often so you don’t miss out.
        </p>
        <p>
          <strong>Q:</strong> What if I missed a deal? Is it still available?<br />
          <strong>A:</strong> No. There’s only one deal a day. If you miss it then its gone. So sign up or keep coming back.
        </p>
        <p>
          <strong>Q:</strong> How do I sign up for the email?<br />
          <strong>A:</strong> You can signup using the subscribe box at the top of this page.
        </p>
        <p>
          <strong>Q:</strong> How do I get the deal?<br />
          <strong>A:</strong> Just click the buy button on the <%= link_to "Today's Deal", "/" %> page and then you put in your credit card information.
        </p>
        <p>
          <strong>Q:</strong> Where do all these deals come from?<br />
          <strong>A:</strong> All of our deals come from local businesses.
        </p>
        <p>
          <strong>Q:</strong> Can I cancel my purchase of a deal?<br />
          <strong>A:</strong> No. Once you have purchased the deal, it is yours to use so please be sure you want the deal before you purchase it.
        </p>
        <p>
          <strong>Q:</strong> How do I receive my deal?<br />
          <strong>A:</strong> All of our deals are sent to you in your email. Click the link provided to view and download the coupon.
        </p>
        <p>
          <strong>Q:</strong> What if I get something defective?<br />
          <strong>A:</strong> Always contact the company that provided the deal unless otherwise specified.
        </p>
        <p>
          <strong>Q:</strong> What if there isn’t enough people who want the deal?<br />
          <strong>A:</strong> In that case the deal is not valid and you’re credit card is not charged.
        </p>
        <p>
          <strong>Q:</strong> When does my deal expire?<br />
          <strong>A:</strong> Each deal has its own expiration date, but normally the coupons are available for one year.
        </p>
        <p>
          <strong>Q:</strong> Can I use my deal with other special offers from the same business?<br />
          <strong>A:</strong> No, unless otherwise specified.
        </p>

        <p>
          <strong>Q:</strong> What if I have other questions not covered here?<br />
          <strong>A:</strong> Send us a message using the <%= link_to "contact us form", :contact %> or call us at 405-475-4000.
        </p>
        <p>
          <strong>Q:</strong> How can my business add deals to this site?<br />
          <strong>A:</strong> Send us a message using the <%= link_to "contact us form", :contact %>.
        </p>
        <p>
          <strong>Q:</strong> What are the giveaways?<br />
          <strong>A:</strong> Each week we have a new giveaway that you are automatically signed up for when you subscribe to receive the Daily Deal newsletter.
        </p>
        <p>
          <strong>Q:</strong> What I give benefits a charity?<br />
          <strong>A:</strong> That's right. Each company that offers a deal here picks a local charity to benefit from the purchase. You can see the charity on the Today's Deal page.
        </p>
      </div>
    </div>
  </div>
</div>