<div class="pages">
  <div class="mod-ext">
    <h1 class="txt13 scp_color3 txt-trans-up">Privacy Policy</h1>Deal Me Health
    <div class="terms">
      Deal Me Health is committed to providing visitors with a powerful, useful and appropriate on-line experience, while at the same time protecting users from unexpected use of personally identifiable information.  Like other web publishers, we collect information from users in order to deliver more effective content and advertising, but only within the limits specified in this policy and by law.<br /><br />
      If you have questions about our privacy policy, please click on &quot;Contact Us&quot;, and make your inquiry via e-mail.
      <ul class="terms_list">
        <li>
          Children<br />
          <span>
            Minors under the age of 18 may not use this website. We do not collect or maintain information from anyone known to be under the age of 18, and no part of this website is designed to attract anyone under the age of 18.  Deal Me Health does not sell products intended for purchase by children.  In certain instances, we may offer information concerning children's products for purchase by adults.  If you are under 18, you may only use Deal Me Health under the supervision of a parent or guardian.
          </span>
        </li>
        <li>Collection of Personal Information<br />
          <span>
            In connection with certain Services, Deal Me Health may collect personally identifiable information that you provide, such as your e-mail address, name, home or work address or telephone number.  With other Services, Deal Me Health collects non-personally identifiable demographic information such as your zip code, age, interests or gender.  Some sites may collect a combination of this information.<br /><br />
            For example, we may collect information from: registration for Deal Me Health vouchers, sweepstakes and contest registrations or submissions, promotional voting and polling activities, registration for mobile updates or from other interactive areas of our website.  In connection with our current and planned electronic sales services, you may be asked to provide information, including credit card information, that is necessary to complete a transaction that you have initiated and requested.  Deal Me Health does not obtain or retain credit card account information, but uses third parties to process this information.<br /><br />
            There is also information about your computer hardware and software that is automatically collected by Deal Me Health, such as your IP address, browser type, domain name, access time and referring website addresses.
            Please keep in mind that if you disclose personally identifiable information through our chat room, message boards or other public on-line forums, this information may be collected and used by others accessing those sites.  Deal Me Health does not monitor or collect information you disclose inside on-line public forums nor does it accept any liability associated with your voluntary disclosure of same.<br /><br />
            Deal Me Health requests you to review the privacy statements and policies of other websites you choose to link to or from Deal Me Health, so that you can understand how those websites collect, use and store your information.  Deal Me Health is not responsible for the privacy statements, policies or content of other websites, including websites you link to or from our co-branded sites.  Websites containing co-branding (referencing our name and a third party's name) contain content delivered by the third party and not Deal Me Health.
          </span>
        </li>
        <li>Use of Your Personal Information<br />
          <span>
            We believe in protecting your private information.  We implement safeguards to protect your information from unauthorized disclosures that are not disclosed in the Privacy Policy.  We may disclose aggregated user statistics in order to describe our services to potential advertisers, other third parties, our affiliate companies, and for other lawful purposes.  You may receive communications from Deal Me Health related to products and services that might interest you.  While we believe these services may enhance your time spent at Deal Me Health, you will at all times be able to opt out from receiving these communications by specifically opting out from a link which will be provided within the email.<br /><br />
            The information we gather from you may be used in several ways, now or in the future, as follows:<br /><br />
            To gain a better understanding of our users and their usage pattern as a whole
            <ul>
              <li>Site administration and troubleshooting</li>
              <li>Process e-commerce transactions, contest entries and other matters you initiate</li>
              <li>Identify preferences in content and advertising</li>
              <li>Target editorial, advertising or other content (such as promotions, special offers or other content) we think might be of interest to you</li>
              <li>Notify you of new deals and offerings available through the Deal Me Health Site.</li>
              <li>To communicate changes and improvements to our website or any registration you have made</li>
              <li>Provide your contact information to third party merchants when you expressly indicate an interest in receiving advertising or promotional materials from such third party merchants.</li>
              <li>With Deal Me Health vouchers, DealMeHealth may provide your information to third parties who provide the vouchers.  Third parties may use this information to verify the authenticity of vouchers provided through Deal Me Health.</li>
              <div class="clear"></div>
            </ul>
            <br />
            Other than as disclosed herein, Deal Me Health does not have policies authorizing Deal Me Health to give away, sell, rent or lease its users' personally identifiable information to any merchant, advertiser or web publisher.  Non-personally identifiable user information (such as usage pattern, browser type and your computer) may be shared with third party businesses or advertisers with which we have a business or contractual relationship.  We reserve the right to disclose personal information when needed to comply with the law or a legal process, cooperate with investigations of purported unlawful activities, to identify persons violating the law, in connection with the sale of part or all of Deal Me Health' or its affiliates assets, or to enforce the Terms of Use agreement.
          </span>
        </li>
        <li>Cookies: What are they and why are they needed?<br />
          <span>
            A cookie is a data text file sent from a web site to your browser.  It will be stored within your system.  The cookie identifies the user and allows access to articles, thus alleviating the need to continually log in with your username and password.  Deal Me Health only can access information from a cookie sent by Deal Me Health, not other websites.  Cookies do not reveal information that you have not supplied.  Deal Me Health uses cookies to personalize your visit to the site.  By tracking usage, we can best determine the needs of our customers and advertisers.  Also, Deal Me Health uses third-party ad-networks to display advertisements in our Sites.  These third party ad networks will use cookies in accordance with their own privacy policies.  These third party ad networks may compile information about you and your online computer use.  If you want to prevent one of the third party ad networks from sending and reading cookies on your computer, you will need to visit each ad networks' website and request that you be removed from their system.
          </span>
        </li>
        <li>Opting Out<br />
          <span>
            We respect your right to choose whether to share information with us or any third party.  You may choose to &quot;opt out&quot; of sharing personal information.  During registration, you can uncheck the box relating to this statement: &quot;YES! Please notify me of exclusive specials and discounts.  Deal Me Health will offer you our exclusive specials and discounts from our vendors.&quot; Any e-mails sent to you will also contain a link in which you can easily unsubscribe to future distribution.  
          </span>
        </li>
        <li>Children<br />
          <span>
            Deal Me Health is sensitive to the need to protect the privacy of children who use the Internet.  Deal Me Health does not knowingly collect or solicit personally identifiable information from or about children under the age of eighteen (18) consistent with and exceeding the requirements of the Children's Online Privacy Protection Act.  If we discover or are otherwise notified that we have received any such information from a child in violation of this policy, we will delete that information.  If you are under the age of eighteen (18), please do not attempt to provide any personally identifiable information on our Sites.  If you believe that Deal Me Health has any information from or about a child under the age of thirteen, please contact us immediately by clicking on &quot;Contact Us&quot; and sending us an e-mail and we will take appropriate steps to remove such information from our files.<br /><br />
            Please review the privacy policy of other sites you or your children elect to link to through Deal Me Health for the children's privacy policy of those sites.  Deal Me Health is not responsible for the privacy policy or other content of any other website, including sites that are co-branded.
          </span>
        </li>
        <li>Protection of Personal Information<br />
          <span>
            Deal Me Health utilizes encryption/security software to safeguard the confidentiality of personal information we collect from unauthorized access or disclosure of accidental loss, alteration or destruction.  Deal Me Health limits employee access to confidential information and limits the use and disclosure of such information to authorized person, processes and transactions.
          </span>
        </li>
        <li>IP Addresses<br />
          <span>
            Deal Me Health logs IP addresses, or the location of your computer on the Internet, for systems administration and troubleshooting purposes and to determine site usage.  Your IP address does not contain personal information about you.
          </span>
        </li>
        <li>Notice of Privacy Rights to California Residents<br />
          <span>
            California law requires that we provide you with a summary of your privacy rights under the California Online Privacy Protection Act (the &quot;Act&quot;) and the California Business and Professions Code.  As required by the Act, we will provide you with the categories of personally identifiable information that we collect through this website and the categories of third party persons or entities with whom such personally identifiable information may be shared for direct marketing purposes at your request.  California law requires us to inform you, at your request, (1) the categories of personally identifiable information we collect and what third parties we share that information with; (2) the names and addresses of those third parties; and (3) examples of the products marketed by those companies.  The Act further requires us to allow you to control who you do not want us to share that information with.  To obtain this information, please send a request by email or standard mail to the address found below. When contacting us, please indicate your name, address, email address, and what personally identifiable information you do not want us to share with third parties.  The request should be sent to the attention of our legal department, and labeled &quot;California Customer Choice Notice.&quot;  Please allow thirty (30) days for a response.  Also, please note that there is no charge for controlling the sharing of your personally identifiable information or requesting this notice.
          </span>
        </li>
        <li>Terms of Use<br />
          <span>
            The Deal Me Health Terms of Use agreement, as it may change from time to time, is hereby incorporated as part of this Privacy Policy.
          </span>
        </li>
        <li>Indemnity<br />
          <span>
            You agree to defend, indemnify, and hold Deal Me Health, its third parties, officers, directors, employees, agents, licensors, and suppliers, harmless from and against any claims, actions or demands, damages, liabilities and settlements including without limitation, reasonable legal and accounting fees, resulting from, or alleged to result from, your violation of the Terms of Use or Privacy Policy.
          </span>
        </li>
        <li>Limitations<br />
          <span>
            By using the Sites you agree that we are not responsible for (i) any disclosure of your personal information made by you to a third party through your use of the Sites; (ii) any disclosure of your personal information obtained illegally from us; or (iii) any accidental disclosure of your personal information made by us.
          </span>
        </li>
        <li>Policy Changes<br />
          <span>
            You agree to review the Privacy Policy posted on the Sites each time you use the Sites so that you are aware of any modifications to this Privacy Policy.  Your continued usage of the Sites following any changes constitutes your acceptance of those changes.  For your convenience and future reference, the date of the Privacy Policy is listed above so that you can compare any different versions of the Privacy Policy to determine any changes made to the Privacy Policy.
            <br /><br />
            The foregoing policy is effective as of April 27, 2010.
          </span>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
</div>
