<div class="pages">
  <div class="mod-ext">
    <h1 class="txt13 scp_color3 txt-trans-up">Terms of Sale</h1>
    <div class="mod terms">
      Your purchase of a Voucher is subject to these Terms of Sale as well as the Terms of Use (&quot;TOU&quot;) for the Deal Me Health Site and the Deal Me Health Privacy Policy, which are incorporated herein by reference.  To the extent to the Terms of Sale conflict with the TOU, these Terms of Sale shall govern.
      <ol class="terms_list">
        <li>Account and Voucher Items.<br />
          <span>You are required to create and maintain a user account in order to purchase any items from Deal Me Health. This is required so we can provide you with easy access to print your orders, view your past purchases, modify your preferences, and to ensure permissible use of the product.  By placing an order, you are requesting a voucher (&quot;Voucher&quot;) that may be used to obtain goods or services from a third party (the &quot;Merchant&quot;).  Each offer is referred to herein as a &quot;Voucher Item.&quot;</span>
        </li>
        <li>Voucher Activation.<br />
          <span>Once you have placed an order, we will notify you that we have received your request.  You will not receive your Voucher, however, until the Voucher Item is &quot;Activated.&quot;  A Voucher Item is Activated after all of the terms and conditions for each Voucher Item are met.  Terms and conditions for a Voucher Item may specify, for example, that a certain number of Vouchers be requested before the Voucher Item is Activated.  You will not be billed until the Voucher Item is Activated.  Until a Voucher Item is Activated, we have no obligation to provide you with Vouchers.</span>
        </li>
        <li>Responsibility of Merchant.<br />
          <span>The Merchant is the seller and provider of the goods and services.  By purchasing the Voucher, you acknowledge and agree that the Merchant is solely responsible for providing the goods and services offered under the Voucher.  Deal Me Health is not responsible for providing the goods or services under the Voucher.  Neither Deal Me Health nor the Merchant is responsible for replacement of Vouchers that are lost, stolen or destroyed.</span>
        </li>
        <li>Limitations.<br />
          <span>Your use of the Voucher is subject to the Voucher specific terms and conditions.  Vouchers are non-transferable.  Each Voucher is associated with a unique identifier.  Merchants may refuse to accept any Voucher with a unique identifier that has already been redeemed.  Only one Voucher may be used in any transaction.  Merchants may limit Vouchers to one Voucher per household at the Merchant’s discretion.  Vouchers cannot be combined with any other offer, discount, certificate or vouchers.  Merchants may impose additional restrictions on Vouchers.  Vouchers are void to the extent required by law.
            <ol>
              <li>
                <span>Vouchers expire on the date noted on the Voucher, except as otherwise required by law.  Certain Vouchers may be subject to additional legal restrictions.  For examples, in certain jurisdictions, Vouchers for restaurant services cannot be used to purchase alcoholic beverages.  Merchants are solely responsible for ensuring compliance with applicable laws, rules and regulations regarding the use and redemption of Vouchers.</span>
              </li>
              <li>
                <span>Vouchers may only be used for the goods or items specified in the Voucher.  If you redeem a Voucher for less than its face value, you will not be entitled to a credit, cash or new voucher equal to the difference between the face value and the value of the goods or services, unless otherwise required by law.  In some areas, you may be entitled to a continuing redemption value if the amount you paid for the Voucher exceeds the value of the goods or services acquired with the Voucher.  For example, if you pay $25 for a Voucher, which is good for up to $50 in goods, and you make a purchase for $10 in goods, you may be entitled to a continuing redemption value of $15. If, however, you purchase $30 in goods, you will not be entitled to any continuing redemption value.  Merchants in their discretion may, however, offer a redemption value.</span>
              </li>
              <div class="clear"></div>
            </ol>
            <div class="clear"></div>
          </span>
        </li>
        <li>Dislcaimer and Waivers<br />
          <span>
            EXCEPT AS OTHERWISE PROVIDED FOR IN SECTION 6, MERCHANTS ARE SOLELY RESPONSIBLE FOR REDEMPTION OF THE VOUCHERS.<br /><br />
            TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL Deal Me Health BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF THE USE OF THE VOUCHERS, INCLUDING, WITHOUT LIMITATION, DAMAGES RELATING TO THE GOODS OR SERVICES PURCHASED WITH VOUCHERS, REDEMPTION OF VOUCHERS, FAILURE OF A MERCHANT TO ACCEPT VOUCHERS, OR ANY AND ALL OTHER PERSONAL OR COMMERCIAL DAMAGES OR LOSSES, EVEN IF ADVISED OF THE POSSIBILITY THEREOF, AND REGARDLESS OF THE LEGAL OR EQUITABLE THEORY (CONTRACT, TORT, BREACH OF WARRANTY OR OTHERWISE) UPON WHICH THE CLAIM IS BASED.  UNDER NO CIRCUMSTANCES WILL Deal Me Health’ LIABILITY RELATING TO VOUCHERS EXCEED THE GREATER OF (I) THE AMOUNT YOU HAVE PAID Deal Me Health FOR A SINGLE VOUCHER ITEM DEAL OR (II) $10.00.  SOME JURISDICTIONS DO NOT PERMIT SOME OF THE ABOVE LIMITATIONS OF LIABILITY, AND THEREFORE THIS MAY NOT APPLY TO YOU.
          </span>
        </li>
        <li>Refund by Deal Me Health.<br />
          <span>Certain jurisdictions may require that a Voucher be honored for a specific time period.  If a Merchant refuses to honor a Voucher on the basis that the Voucher has expired, contact Deal Me Health.  For any Voucher that a Merchant fails to honor on such basis, Deal Me Health will provide a refund in the amount paid to Deal Me Health for the Voucher, provided that Deal Me Health determines the Voucher was submitted to the Merchant during a time in which the Merchant was obligated to honor the Voucher.</span>
        </li>
        <li>Indemnification.<br />
          <span>You agree to indemnify and hold Deal Me Health, its subsidiaries and affiliates, and their respective officers, directors, employees, and agents harmless from and against any and all liability, losses, claims, demands or costs of any kind, including reasonable attorneys’ fees and costs of litigation, (i) arising from your use or mis-use of Vouchers, (ii) your violation of the TOU, the Terms of Sale, or the Privacy Policy or (iii) your violation of any rights of another party, or (vi) any other damage caused by your use of a Voucher or services Deal Me Health provides.</span>
        </li>
        <li>Governing Law and Jurisdiction.<br />
          <span>This Agreement and the relationship between you and Deal Me Health shall be governed by the laws of the State of Oklahoma without regard to its conflict of law provisions.  You and Deal Me Health agree to submit to the personal and exclusive jurisdiction and forum convenience of the federal and state courts located in Chicago, Illinois.</span>
        </li>
        <li>Severability.<br />
          <span>If any provision in these Terms of Sale should be held illegal or unenforceable by a court of competent jurisdiction, such provision shall be modified to the extent necessary to render it enforceable without losing its intent, or severed from the Terms of Sale if no such modification is possible, and the other provisions of the Terms of Sale shall remain in full force and effect.</span>
        </li>
        <div class="clear"></div>
      </ol>
      <div class="clear"></div>
    </div>
  </div>
</div>